blinker
boto3
botocore
certifi
charset-normalizer
click
Flask
Flask-SQLAlchemy
gTTS
idna
itsdangerous
Jinja2
jmespath
MarkupSafe
packaging
pillow
PyPDF2
pytesseract
python-dateutil
python-dotenv
requests
s3transfer
six
SQLAlchemy
typing_extensions
urllib3
Werkzeug
pydub
